@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Roboto";
}
nav{
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.logo a{
    display: flex;
    cursor: pointer;
    text-decoration: none;
}
.logo h1{
    font-size: 32px;
    font-weight: normal;
}
.black-text{
    color: #333333;
}
.yellow-text{
    color: #FCC822;
}
.right-nav{
    display: flex;
    gap: 10px;
    color: #E0E0E0;
}
nav ul{
    display: flex;
    gap: 20px;
}
nav ul li{
    padding: 10px;
    list-style-type: none;
}
.line{
    margin: 0 auto;
    height: 0.25px;
    width: 95%;
    background-color: #E0E0E0;
}
.normal-btn{
    background-color: transparent;
    color: #FCC822;
    border: 1px solid #FCC822;
    margin: 0px 40px;
    padding: 0px 20px;
    font-size: 16px;
}
.normal-btn a{
    text-decoration: none;
    color: #FCC822;
}
.main-start{
    display: grid;
    margin: 3px auto;
    width: 90%;
    height: 90%;
    gap: 10px;
    justify-content: space-between;
    grid-template-columns: repeat(2, 45%);
}
.yellow-btn{
    background-color: transparent;
    color: white;
    background-color:  #FCC822;
    border: none;
    /* margin: 0px 40px; */
    padding: 15px 25px;
    font-size: 20px;
}
.yellow-btn a{
    text-decoration: none;
    color: white;
}
.left-text-div{
    margin: 0 auto;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.left-text-div h2{
    font-size: 72px;
    font-weight: 500;
}
.help{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    color: #a5a0a0;
}
.stand-line{
    color: #333333;
    font-size: 50px;
    font-weight: 100;
}
.down-main-left{
    display: flex;
    gap: 50px;
}
.know-more{
    display: flex;
    font-size: 20px;
    gap: 10px;
    align-items: center;
}
.main-img{
    background-image: url(assets/pexels-cup-of-couple-6177574.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center center;
    width: 100%;
    height: 100%;
}
.how-it-works{
    /* background-color: #333333;
    width: 75%;
    margin: 20px auto;
    padding: 30px; */
    display: grid;
    grid-template-columns: 25% 70%;
    justify-content: space-between;
    align-items: center;
}
.features{
    /* background-color: #333333;
    width: 75%;
    margin: 20px auto;
    padding: 30px; */
    display: grid;
    grid-template-columns: 70% 25%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.about-us{
    /* background-color: #333333;
    width: 75%;
    margin: 20px auto;
    padding: 30px; */
    display: grid;
    grid-template-columns: 25% 70%;
    justify-content: space-between;
    align-items: center;
}
.redirect-cont{
    background-color: #FCC822;
    color: white;
    width: 75%;
    margin: 20px auto;
    padding: 20px 30px;
    border-radius: 10px;
}
.redirect-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .redirect-cont h2{
    background-color: white;
    color: #FCC822;
    text-align: center;
} */
.image{
    height: 250px;
    width: 350px;
    object-fit: cover;
    background-position: center center;
    margin: 10px 20px;
    /* padding: 0px 20px; */
    border-radius: 5px;
}
.faqs{
    margin: 64px auto;
    width: 75%;
}
.faq{
    margin: 10px 0px auto;
    /* height: 84px; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* cursor: pointer; */
}
section h2{
    margin: 10px 0px;
    font-size: 32px;
}
.faq-question{
    padding: 0px 20px;
    background-color: #2d2d2d;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    background-color: #FCC822;
    color: white;
    border: 2px solid #FCC822;
    border-radius: 3px;
}
.plus{
    font-size: 64px;
    font-weight: 100;
}
.faq-answer{
    background-color: #2d2d2d;
    margin: 1px auto;
    padding: 20px;
    width: 100%;
    font-size: 24px;
    background-color: #FCC822;
    color: white;
    border: 2px solid #FCC822;
    border-radius: 3px;
}
footer{
    width: 100%;
    height: 500px;
    background-color: #FCC822;
}
.footer{
    padding: 20px;
    margin: 0 auto;
    width: 75%;
}
.footer p{
    margin: 36px 0px;
    font-size: 16px;
}
.foot-content-cont{
    display: grid;
    grid-template-columns: repeat(4, 288px);
    grid-template-rows: repeat(4, 33px);
    margin: -12px 0px 30px -12px;
}
.footer-content{
    margin: 12px 0px 0px 12px;
}
.footer p a{
    color: white;
}
.footer-content a{
    color: white;
    font-size: 14px;
}
.footer .lang-select{
    width: fit-content;
    margin: 50px 0px;
}
.footer .lang-select #language-select{
    font-weight: 300;
}
.netflix-india{
    font-size: 14px;
    margin: 30px 0px;
}
.google-protection{
    font-size: 13px;
    margin-top: 30px;
}